<!-- <p>inicio works!</p> -->
<div class="background" >
    <div class="container">
        <div class="row mt-5 pt-5 mx-auto justify-content-center position-static order-1 order-lg-2">
            <img src="../../../assets/images/logos/iam2.png" width="300" height="300" alt="Logo de I'M">
        </div>
        <div class="row mx-auto justify-content-center position-static order-1 order-lg-2">
            <a class=" cta-btn btn-get-started scrollto" [routerLink]="['/acerca-de']" routerLinkActive="router-link-active">
                <p>Acerca de I'm</p>
            </a>
        </div>
    </div>
</div>