<!-- <p>juega works!</p> -->
<div class="background">
    <div class="container mt-5 pt-5 mx-auto">
        <div class="row mt-5 pt-5 mx-auto justify-content-center">
            <h2 class="section-title">Para jugar necesitarás escanear el código de tu lata I'm <br><b>consíguela aquí </b> <a href="https://api.whatsapp.com/send?phone=+524434032424&text=Quiero mi lata de I'm" target="_blank"> <i class="fab fa-whatsapp fa-2x"  style="color: #4AC959;"></i></a></h2>
            <img src="../../../assets/images/juega/ruleta.png" class="img-fluid " alt="Juega con nostros - Ruleta" >
        </div>
    </div>
</div>